<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="RedisConfig" type="IotCloudService.Common.Redis.RedisConfiguration" />

  </configSections>
  <!--<RedisConfig ServerHost="127.0.0.1:6379"
            MaxPoolSize="100"
           AutoStart="true"
           LocalCacheTime="180"
           RecordeLog="false">
  </RedisConfig>-->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

 
  
  <appSettings>

    <!--Redis Config-->
    <!--<add key="RedisEndPoint" value="SY2000REDIS@127.0.0.1:6379" />-->
    <add key="RedisEndPoint" value="47.100.169.224:6379" />
    <add key="PoolMaxSize" value="20" />
    <add key="MqttEndPoint" value="47.100.169.224:1883" />
     <add key="MySqlConnectString" value="Database='iotcloudserverconfig';Data Source='47.100.169.224';User Id='fuhui';Password='asus810321';charset='utf8';pooling=true" />



  </appSettings>
  

       <system.webServer>

<httpProtocol>

<customHeaders>

<add name="Access-Control-Allow-Origin" value="*" />

<add name="Access-Control-Allow-Headers" value="Content-Type" />

<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />

</customHeaders>

</httpProtocol>

<handlers>

<remove name="ExtensionlessUrlHandler-Integrated-4.0" />

<remove name="OPTIONSVerbHandler" />

<remove name="TRACEVerbHandler" />

<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

</handlers>

</system.webServer> 



  <runtime> 



         <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 



                <dependentAssembly> 



                       <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 



                       <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" /> 



                </dependentAssembly> 



         </assemblyBinding> 



  </runtime>
</configuration>